body,html {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #fdf6e3;
    color: black;
}

h1 {
    font-size: 4vw;
    color: black;
}

a {
    text-decoration: none;
    color: #dc322f;
}
a:hover {
    text-decoration: underline;
}

.title {
    background-color: #51b6ff;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
    letter-spacing: 5px;
    height: 200px;
}

.title img {
	height: 200px;
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    z-index: 100;
}

.title h1 {
    font-size: 50px;
    text-shadow: 0 2px 4px white;
    z-index: 1000;
    position: relative;
}

svg {
    display: block;
}

article {
	max-width: 810px;
	margin: auto;
	text-align: left;
	padding: 5px;
}
