body,html {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #212121;
    color: white;
}

h1 {
    font-size: 4vw;
}

a {
    text-decoration: none;
    color: #51b6ff;
}
a:hover {
    text-decoration: underline;
}

.title {
    background-color: #51b6ff;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
    letter-spacing: 5px;
}
.title img {
    width: 40%;
}
.title_text {
    position: absolute;
    top: 16vw;
    left: 50%;
    transform: translate(-50%, 0);
}
.title h1 {
    font-size: 4vw;
    text-shadow: 0 2px 4px white;
}

.button {
    font-size: 2vw;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    transition-duration: 0.3s;
    background-color: #212121;
}
.button:hover {
    text-decoration: none;
}

.bred {
    color: red;
    border: 3px solid red;
}
.bred:hover {
    color: white;
    background-color: red;
    box-shadow: 0 0 5px black;
}

.bblue {
    color: #0012AF;
    border: 3px solid #0012AF;
}
.bblue:hover {
    color: white;
    background-color: #0012AF;
    box-shadow: 0 0 5px black;
}

.bgreen {
    color: lime;
    border: 3px solid lime;
}
.bgreen:hover {
    color: black;
    background-color: lime;
    box-shadow: 0 0 5px black;
}

svg {
    display: block;
}

.pixel {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.person {
    background-color: #FFF;
    color: #212121;
    border-radius: 4vw;
    display: inline-block;
    margin: 1vw;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: left;
    box-shadow: 0 0 5px black;
}
@media screen and (max-width: 600px) {
    .person {
        font-size: 2vw;
        width: 80vw;
    }
    .person img {
        width: 16vw;
    }
    .person_data {
        width: 62vw;
    }
}
@media screen and (min-width: 601px) {
    .person {
        font-size: 1.5vw;
        width: 60vw;
    }
    .person img {
        width: 12vw;
    }
    .person_data {
        width: 42vw;
    }
}

.person img {
    border-top-left-radius: 4vw;
    border-bottom-left-radius: 4vw;
    float: left;
}
.person_data {
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
.person_data h5 {
    padding: 0;
    margin: 0;
}
.person_data h4 {
    margin-top: -1vw;
    margin-bottom: 1vw;
}

.projects {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00DEB3;
}

.project {
    display: inline-block;
    background-blend-mode: multiply;
}
.project img {
    width: 40vw;
    height: 25vw;
    border-radius: 15px;
}
.project h3 {
    font-size: 2vw;
}